.userCard {
  background-color: lightblue;
  border-radius: 18px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.userCard > img {
  width: 260px;
}